<!-- Estimator -->

<body onload="init()">
	<script type="text/javascript"
		src="/javascripts/dropCSV.js">
	</script>
<div id="head">
	<div id="top-bar">
	<div id="top-logo"><img id="logo"></img></div>
	<div id="currentuser"></div>
	</div>
</div>

<div id ="body">
	<div id="content">
		<div id="leftBox"  class="body-left">
			<h1>Grade Estimator</h1>
				<div class="est-left">
					<form id="assignments" action="/save-assignment" method="post">
						<p>Select an Assignment</p>
							<li><label for="assign">Assignment</label></li>
							<li><label for="weight">Weight</label></li>
							<li><label for="grade">Grade</label></li>
						<p><li><select id="assign1" name="assign1">
							<option value="Homework">Homework</option>
							<option value="Midterm">Midterm</option>
							<option value="Project">Project</option>
							<option value="Final">Final</option>
							<option value="Qquiz">Quiz</option>
							<option value="Lab">Lab</option>				
						</select></li>				
						<li><input type="number" class="spin" id="weight1" name="weight1" step="5" min="0" max="100" value="0"></li>
						<li><input type="number" class="spin" id="grade1" name="grade1" min="0" max="100" ></li></p>
						
						<p><li><select id="assign2" name="assign2">
							<option value="Homework">Homework</option>
							<option value="Midterm">Midterm</option>
							<option value="Project">Project</option>
							<option value="Final">Final</option>
							<option value="Qquiz">Quiz</option>
							<option value="Lab">Lab</option>				
						</select></li>				
						<li><input type="number" class="spin" id="weight2" name="weight2" step="5" min="0" max="100" value="0"></li>
						<li><input type="number" class="spin" id="grade2" name="grade2" min="0" max="100" ></li></p>
						
						<p><li><select id="assign3" name="assign3">
							<option value="Homework">Homework</option>
							<option value="Midterm">Midterm</option>
							<option value="Project">Project</option>
							<option value="Final">Final</option>
							<option value="Qquiz">Quiz</option>
							<option value="Lab">Lab</option>					
						</select></li>				
						<li><input type="number" class="spin" id="weight3" name="weight3" step="5" min="0" max="100" value="0"></li>
						<li><input type="number" class="spin" id="grade3" name="grade3" min="0" max="100" ></li></p>
						<p><li><select id="assign4" name="assign4">
							<option value="Homework">Homework</option>
							<option value="Midterm">Midterm</option>
							<option value="Project">Project</option>
							<option value="Final">Final</option>
							<option value="Qquiz">Quiz</option>
							<option value="Lab">Lab</option>					
						</select></li>				
						<li><input type="number" class="spin" id="weight4" name="weight4" step="5" min="0" max="100" value="0"></li>
						<li><input type="number" class="spin" id="grade4" name="grade4" min="0" max="100" ></li></p>
						
						<p><li><select id="assign5" name="assign5">
							<option value="Homework">Homework</option>
							<option value="Midterm">Midterm</option>
							<option value="Project">Project</option>
							<option value="Final">Final</option>
							<option value="Qquiz">Quiz</option>
							<option value="Lab">Lab</option>					
						</select></li>				
						<li><input type="number" class="spin" id="weight5" name="weight5" step="5" min="0" max="100" value="0"></li>
						<li><input type="number" class="spin" id="grade5" name="grade5" min="0" max="100" ></li></p>
						
						<p><li><select id="assign6" name="assign6">
							<option value="Homework">Homework</option>
							<option value="Midterm">Midterm</option>
							<option value="Project">Project</option>
							<option value="Final">Final</option>
							<option value="Qquiz">Quiz</option>
							<option value="Lab">Lab</option>					
						</select></li>				
						<li><input type="number" class="spin" id="weight6" name="weight6" step="5" min="0" max="100" value="0"></li>
						<li><input type="number" class="spin" id="grade6" name="grade6" min="0" max="100" ></li></p>
						

						<p><input type="submit" value="Save Changes" class="button" /></p>
					</form>	
					<button id="calculate" class="button">Calculate</button>
				</div>
					
				<div class="est-right">
					<h4>Your Current Score</h4>
					<ul id="score">0</ul>
					<h4>Score needed for other assignments</h4>
					<p id ="grade"></p>
					<ul id="needed-scores">
						<li id="a"></li><br>
						<li id="am"></li><br>
						<li id="bp"></li><br>
						<li id="b"></li><br>
						<li id="bm"></li><br>
						<li id="cp"></li><br>
						<li id="c"></li><br>
						<li id="cm"></li><br>
						<li id="dp"></li><br>
						<li id="d"></li><br>
						<li id="dm"></li><br>
					</ul>
					</p>
					
				</div>	
					
				
		</div>
		<div class="body-right">
			<h3>Navigation</h3>
			<p><a class="button" href="/profile/"><span>Profile</span></a></p>
			<p><a class="button" href="/gpa/"><span>GPA Calc</span></a></p>
			<p><a class="button" href="/logout/"><span>Logout</span></a></p>
		</div>
	</div>
</div>
<div id="foot"></div>
</body>


