<!-- Profile -->

<body>

<div id="head">
	<div id="top-bar">
	<div id="top-logo"></div>
	<div id="currentuser"></div>
	</div>
</div>

<div id ="body">
	<div id="content">
		<div class="body-left">
			<h1>GPA Calculator</h1>
			
				<div class="split-left">
					<form id="calculate" action="calculate" method="post">
					<p>Add a Grade and credits</p>
						<li><label for="grade">Grade</label></li>
						<li><label for="credits">Credits</label></li>
					<p><li><select id="dropdown" name="grade">
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						<option value="D">D</option>
						<option value="F">F</option>				
					</select></li>				
					<li><input type="number" id="spin" name="credits" min="0" max="120"></p></li>
					<p><input type="submit" value="Calculate" class="button" /></p>
					</form>	
				</div>
				
				<div class="split-right">
					<ul id="grades-added">
						<p>list of grades here</p>
						<p>list of grades here</p>
						<p>list of grades here</p>
						<p>list of grades here</p>
						<p>list of grades here</p>
						<p>list of grades here</p>
					</ul>
				</div>		
		</div>
		<div class="body-right">
			<h3>Navigation</h3>
			<p><a class="button" href="/home/"><span>Home</span></a></p>
			<p><a class="button" href="/profile/"><span>Profile</span></a></p>
			<p><a class="button" href="/gpa/"><span>GPA Calc</span></a></p>
			<p><a class="button" href="/logout/"><span>Logout</span></a></p>	
		</div>
	</div>
</div>
<div id="foot"></div>

</body>
