<!-- GPA Calc -->

<body>

<div id="head">
	<div id="top-bar">
	<div id="top-logo"><img id="logo"></img></div>
	<div id="currentuser"></div>
	</div>
</div>

<div id ="body">
	<div id="content">
		<div class="body-left">
			<h1>GPA Calculator</h1>
			<form id="calculate" action method="post">
				<div class="split-left">
				
					<p>Add a Grade and credits</p>
						<li><label for="grade">Grade</label></li>
						<li><label for="credits">Credits</label></li>
					<p><li><select id="dropdown" name="grade">
						<option value="A">A</option>
						<option value="A">A-</option>
						<option value="B">B+</option>
						<option value="B">B</option>
						<option value="B">B-</option>
						<option value="C">C+</option>
						<option value="C">C</option>
						<option value="C">C-</option>
						<option value="D">D+</option>
						<option value="D">D</option>
						<option value="D">D-</option>
						<option value="F">F</option>				
					</select></li>				
					<li><input type="number" id="spin" name="credits" min="0" max="120"></p></li>
					<p><input type="submit" value="Add Grade" class="button" /></p>
				
				</div>
				
				<div class="split-right">
				
					<p id="current-gpa"><li><label for="current-gpa">Current GPA:</label></li>
					<li><label for="credits">N/A</label></li></p>
					<ul id="grades-added">
						<p>list of current grades added on the fly here</p>
					</ul>
					
				</div>	
				</form>		
		</div>
		<div class="body-right">
			<h3>Navigation</h3>
			<p><a class="button" href="/home/"><span>Home</span></a></p>
			<p><a class="button" href="/profile/"><span>Profile</span></a></p>
			<p><a class="button" href="/est/"><span>Estimator</span></a></p>
			<p><a class="button" href="/logout/"><span>Logout</span></a></p>
		</div>
	</div>
</div>
<div id="foot"></div>

</body>