<!-- Home -->

<body>

<div id="head">
	<div id="top-bar">
	<div id="top-logo"><img id="logo"></img></div>	
	</div>
</div>

<div id ="body">
	<div id="content">
		<div class="body-left">
			<h1>Member Login</h1>
			<form id="login" action="/login" method="post">
			<div class="split-left">
				<p><label for="username">Username</label></p>
				<p><input type="text" id="username" name="username" required="required"></p>
				
				<p><label for="password">Password</label></p>
				<p><input type="password" id="password" name="password" required="required"></p>
				
	
			<p><input type="submit" value="Login" class="button" /></p>
			</div>
			</form>
			<%- msg %>
				
			<div class="split-right">
				<h1>Not a Member?</h1>
		
				<a href="/create">Sign Up!</a> 	
			</div>
			
			</div>
		<div class="body-right">
		<h4>Welcome to</h4>
		<h2>GradeBook</h2>
		
			<div class="side-logo">
				<img></img>
			</div>	
			<h3>Chrome Edition</h3>	
		</div>
	</div>

</div>

<div id="foot"></div>
</body>