<!-- Home -->

<body>

<div id="head">

</div>

<div id ="body">
	<div id="content-home">
		
			<h1>Welcome to GradeBook</h1>
			<h3>chrome edition *alpha</h3>
			
			
			<form id="login" action="/login_view" method="get">
			

				
			<br/>
			<br/>
			<br/>
			<br/>
			<p><label for="student-user">Student User</label></p>
			<p><input type="submit" id="student-login-button" value="Student" class="button" /></p>
			</form>

			<%- msg %>
				<br/>
			<br/>
			<br/>
			<br/>
			<h5>created by The VAST Group (c) 2012</h5>
			<h6>designers: Sean Avery, Anh Nguyen, Tristan Warneke</h6>
	</div>


</div>

<div id="foot"></div>
</body>