<!DOCTYPE html>
<html>
  <head>
    <image src="/images/Midterm-bank-Header.png" width="650px"/>
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/functions.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
  
</html>
