<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/functions.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>  
</html>
=======
<!DOCTYPE html>
<html>
  <head>
    
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/functions.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>  
</html>
>>>>>>> 113f7de5f5eae4c203b1f8b12f4c70ba6e2e2b30
