<<<<<<< HEAD
<!-- Logout View -->
<h1>User Logout</h1>
<h2>You have successfully logged out.</h2>
<p id="Feedback"><%= feedback %></p>

<p>Click <a href="/home/">Home</a> to return to the home page</p>
=======
<!-- Logout View -->
<h1>User Logout</h1>
<h2>You have successfully logged out.</h2>
<p id="Feedback"><%= feedback %></p>

<p>Click <a href="/home/">Home</a> to return to the home page</p>
>>>>>>> 113f7de5f5eae4c203b1f8b12f4c70ba6e2e2b30
