<!-- Login View -->
<h1>User Login</h1>
<p id="MyAccountText">
	Welcome to your account: <%= username %>
	<br>
	Your balance = $<%= balance %>
</p>
<p id="Feedback"><%= feedback %></p>
<p><form action="/transactions"><input type="submit" value="View Transactions"></form></p>
<p><form action="/deposit"><input type="submit" value="Deposit Funds"></form></p>
<p><form action="/withdraw"><input type="submit" value="Withdraw Funds"></form></p>
<p><form action="/transfer"><input type="submit" value="Transfer Funds"></form></p>
<p></p>
<p>When you are done with your banking session, please remember to <a href="/logout">logout</a>

