<!-- Profile -->

<body>

<div id="head">
	<div id="top-bar">
	<div id="top-logo"><img id="logo"></img></div>
	<div id="currentuser"></div>
	</div>
</div>

<div id ="body">
	<div id="content">
		<div class="body-left">
			<h1>Welcome <%- uName %></h1>
			<form id="update-profile" action method="post">
				
				<div class="split-left">
				
					<p>Status</p>
						<p id="status"><li><label for="name">Name</label></li>
						<li><label for="school">School</label></li>
						<li><label for="gpa">GPA</label></li>
						<li><label for="semester">Semester</label></li></p>
						
						<p></p>
						<p><li id="name"><%= uName %></li>
						<li id="school"><%= uSchool %></li>
						<li id="gpa"><%= GPAReturn %></li>
						<li id="semester"></li></p>
						
						
						<br/>
						<br/>
						<br/>
						<p><label for="course-name">Enter a Course Name</label></p>
						<p><input type="text" id="course-name"/></p>
						<p></p>
						<p><input type="submit" id="add-course" value="Add Course" class="button" /></p>
						<p></p>
						<p></p>
						<p><input type="submit" id="remove-course" value="Remove Course" class="button" /></p>
			
						
				</div>
				
				<div class="split-right">
					<p id="courses"><label for="courses">Courses</label></p>
						<ul id="courses">display list of courses here</ul>
					
				</div>	
				
				</form>		
		</div>
		<div class="body-right">
			<h3>Navigation</h3>
			<p><a class="button" href="/gpa/"><span>GPA Calc</span></a></p>
			<p><a class="button" href="/est/"><span>Estimator</span></a></p>
			<p><a class="button" href="/logout/"><span>Logout</span></a></p>
		</div>
	</div>
</div>
<div id="foot"></div>
</body>
