<!-- Profile -->

<body>

<div id="head">
	<div id="top-bar">
	<div id="top-logo"><img id="logo"></img></div>
	<div id="currentuser"></div>
	</div>
</div>

<div id ="body">
	<div id="content">
		<div class="body-left">
			<h1>Student Profile</h1>
			<form id="calculate" action method="post">
				
				<div class="split-left">
				
					<p>Status</p>
						<p id="status"><li><label for="name">Name</label></li>
						<li><label for="school">School</label></li>
						<li><label for="gpa">GPA</label></li>
						<li><label for="semester">Semester</label></li>	</p>
					
						<p><li id="name"></li>
						<li id="school"></li>
						<li id="gpa"></li>
						<li id="semester"></li></p>

				
				</div>
				
				<div class="split-right">
					<p id="courses"><label for="courses">Courses</label></p>
						<ul id="courses"></ul>
					
				</div>	
				
				</form>		
		</div>
		<div class="body-right">
			<h3>Navigation</h3>
			<p><a class="button" href="/home/"><span>Home</span></a></p>
			<p><a class="button" href="/gpa/"><span>GPA Calc</span></a></p>
			<p><a class="button" href="/est/"><span>Estimator</span></a></p>
			<p><a class="button" href="/logout/"><span>Logout</span></a></p>
		</div>
	</div>
</div>
<div id="foot"></div>

</body>