body {
	margin-right: auto;
	margin-left: auto;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("/media/background-blue3.png");
	background-size: 100% 100%;
}

a {
	color: #0011FF;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header>h1,header>h3,header>h4,header>h5 {
	text-align: center;
	margin: 4px;
}

p {
	font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#head {
	box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
	color: black;
	position: relative;
}

#top-bar {
	width: 100%;
	height: 50px;
	background-image: url("/media/background-1.png");
	background-size: 100% 100%;
}

#content {
	width: 100%;
}
#content-home {
	width: 100%;
	text-align:center;
	background-image: url("/media/GradeApp_128.png");
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: 15% 25%;

}
#student-login-button {
	width: 10%;
	text-align: center;
	align: center;

}

#body {
	align: center;
}

.body-left {
	float: left;
	width: 55%;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 2%;
	padding-bottom: 15%;
}

.body-right {
	float: right;
	padding-top: 5%;
	padding-right: 10%;
	padding-left: 5%;
	padding-bottom: 5%;

	background-image: url("/media/background-1rot.png");
	background-size: 100% 100%;
	border: 2px solid;
	border-bottom-left-radius: 15px;
	text-align: center;
}

.split-left li {
	display: inline-block;
	padding-right: 4%;
	width: 90px;
	text-align: center;
}

.split-left {
	float: left;
	width: 60%;
	
}

.split-left-home {
	float: left;
	width: 40%;
}

.split-right {
	float: left;
	padding: 5px;
	border-left: ridge;
	border-left-width: 3px;
	text-align: left;
}

.est-left {
	float: left;
	padding-right: 100px;
	list-style: none;
}

.est-right {
	float: right;
	padding: 5px;
	border-left: ridge;
	border-left-width: 3px;
}

.spin, #text{
	width: 60px;
	text-align: center;
}

#spin,#spin1,#spin2,#spin3,#spin4,#spin5,#spin6 {
	width: 60px;
	text-align: center;
}

.est-right li {
	display: inline-block;
	text-align: center;
	
}

.est-left li {
	display: inline-block;
	width: 115px;
	
	text-align: center;

}

.split-right li {
	display: inline-block;
	padding-right: 2%;
	text-align: left;
	
}

#top-logo {
	
}

#logo {
	height: 50px;
	width: 50px;
	background-image: url("/media/GradeApp_48.png");
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
}

.side-logo {
	background-image: url("/media/GradeApp_128.png");
	background-size: 100% 100%;
	padding-bottom: 100%;
}

#need-a,#need-amin,#need-bplus,#need-b,#need-bmin,#need-cplus,#need-c,#need-cmin,#need-dplus,#need-d,#need-dmin,#need-f
	{
	width: 60px;
}

#status>li {
	padding-right: 100px;
}

#courses {
	width: auto;
	padding-right: 10px;
}

button,input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	align: center;
}

#login {
	overflow: hidden;
	align: center;
}

ul {
	list-style: none dislpay :   inline-block;
}

form li {
	
}

li {
	display: list-item;
}

label {
	cursor: pointer;
	display: block;
	font-weight: bold;
}

.submit {
	list-style: none;
	padding: 0;
	align: center;
}

#add-course,#remove-course, #add-grade, #save-grade, #create-button {
	width: 35%%;
	text-align: center;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	border: 1px solid #5E8819;
	border-radius: 1em;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 140%;
	overflow: visible;
	padding: .2em 1em;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	padding-left: 2.5em;
	padding-right: 2.5em;
	width: 60%;
	height: 90%;
	background: -webkit-linear-gradient(top, #306EFF, #15317E);
	margin-right: auto;
	margin-left: auto;
}

button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active
	{
	background-position: bottom right;
	color: #000; background : -webkit-linear-gradient( top, #15317E,
	#306EFF);
	outline: none;
	background: -webkit-linear-gradient(top, #15317E, #306EFF);
	/* hide dotted outline in Firefox */
}

a.button {
	border: 1px solid #5E8819;
	border-radius: 1em;
	border-style: ridge;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	line-height: 140%;
	overflow: visible;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 60%; height : 90%;
	padding: .5em;
	padding-left: 2.5em;
	padding-right: 2.5em;	
	background: -webkit-linear-gradient(top, #306EFF, #15317E);
	margin-right: auto;
	margin-left: auto;
}

a.button:active {
	background-position: bottom right;
	color: #000;
	background: -webkit-linear-gradient(top, #15317E, #306EFF);
	width: 60%; 
	height : 90%;
	outline: none;
	height: 90%; /* hide dotted outline in Firefox */
}